<a href="https://colab.research.google.com/github/Imane0021/python_project/blob/main/python_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Import Libraries
import pandas as pd
import numpy as np

In [2]:
# 2. Load the Dataset
df = pd.read_csv('student_performance.csv')
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [3]:
# 3. Check for Missing Values
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [4]:
# 4. Handle Missing Values
numeric_cols = ['math score', 'reading score', 'writing score']
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

categorical_cols = ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

/tmp/ipython-input-1243135794.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [5]:
# 5. Rename Columns
df.rename(columns={
    'math score': 'Math',
    'reading score': 'Reading',
    'writing score': 'Writing',
    'race/ethnicity': 'Ethnicity',
    'parental level of education': 'Parental_Edu',
    'test preparation course': 'Prep_Course'
}, inplace=True)

df.columns

Index(['gender', 'Ethnicity', 'Parental_Edu', 'lunch', 'Prep_Course', 'Math',
       'Reading', 'Writing'],
      dtype='object')

In [6]:
# 6. Convert Data Types
categorical_cols = ['gender', 'Ethnicity', 'Parental_Edu', 'lunch', 'Prep_Course']
for col in categorical_cols:
    df[col] = df[col].astype('category')

df.dtypes

gender          category
Ethnicity       category
Parental_Edu    category
lunch           category
Prep_Course     category
Math               int64
Reading            int64
Writing            int64
dtype: object

In [7]:
# 7. Remove Duplicates
print("Duplicates before:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("Duplicates after:", df.duplicated().sum())

Duplicates before: 0
Duplicates after: 0

In [10]:
# Quick Checks
print("Number of Students:", len(df))

print("Number of Students by Gender:")
print(df['gender'].value_counts())

print("Number of Students by Ethnicity:")
print(df['Ethnicity'].value_counts())

print("Number of Students by Parental Education:")
print(df['Parental_Edu'].value_counts())

print("Number of Students by Lunch:")
print(df['lunch'].value_counts())

print("Number of Students by Test Preparation Course:")
print(df['Prep_Course'].value_counts())
print()

Number of Students: 1000
Number of Students by Gender:
gender
female    518
male      482
Name: count, dtype: int64
Number of Students by Ethnicity:
Ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64
Number of Students by Parental Education:
Parental_Edu
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64
Number of Students by Lunch:
lunch
standard        645
free/reduced    355
Name: count, dtype: int64
Number of Students by Test Preparation Course:
Prep_Course
none         642
completed    358
Name: count, dtype: int64