<a href="https://colab.research.google.com/github/Imane0021/python_project/blob/main/python_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Import Libraries
import pandas as pd
import numpy as np

In [ ]:
# 2. Load the Dataset
df = pd.read_csv('student_performance.csv')
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
# 3. Rename Columns
df.rename(columns={
    'math score': 'Math',
    'reading score': 'Reading',
    'writing score': 'Writing',
    'race/ethnicity': 'Ethnicity',
    'parental level of education': 'Parental_Edu',
    'test preparation course': 'Prep_Course'
}, inplace=True)

df.columns

Index(['gender', 'Ethnicity', 'Parental_Edu', 'lunch', 'Prep_Course', 'Math',
       'Reading', 'Writing'],
      dtype='object')

In [ ]:
# 4. Check for Missing Values
df.isnull().sum()

gender          0
Ethnicity       0
Parental_Edu    0
lunch           0
Prep_Course     0
Math            0
Reading         0
Writing         0
dtype: int64

In [ ]:
# 5. Handle Missing Values
print("Missing Values After Handling:")
print(df.isnull().sum())

Missing Values After Handling:
gender          0
Ethnicity       0
Parental_Edu    0
lunch           0
Prep_Course     0
Math            0
Reading         0
Writing         0
dtype: int64

In [ ]:
# 6. Convert Data Types
categorical_cols = ['gender', 'Ethnicity', 'Parental_Edu', 'lunch', 'Prep_Course']
for col in categorical_cols:
    df[col] = df[col].astype('category')

df.dtypes

gender          category
Ethnicity       category
Parental_Edu    category
lunch           category
Prep_Course     category
Math               int64
Reading            int64
Writing            int64
dtype: object

In [ ]:
# 7. Remove Duplicates
print("Duplicates before:", df.duplicated().sum())
df.drop_duplicates(inplace=True)
print("Duplicates after:", df.duplicated().sum())

Duplicates before: 0
Duplicates after: 0

In [ ]:
# 8.Quick Checks
print("Number of Students:", len(df))

print("Number of Students by Gender:")
print(df['gender'].value_counts())

print("Number of Students by Ethnicity:")
print(df['Ethnicity'].value_counts())

print("Number of Students by Parental Education:")
print(df['Parental_Edu'].value_counts())

print("Number of Students by Lunch:")
print(df['lunch'].value_counts())

print("Number of Students by Test Preparation Course:")
print(df['Prep_Course'].value_counts())
print()

Number of Students: 1000
Number of Students by Gender:
gender
female    518
male      482
Name: count, dtype: int64
Number of Students by Ethnicity:
Ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64
Number of Students by Parental Education:
Parental_Edu
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64
Number of Students by Lunch:
lunch
standard        645
free/reduced    355
Name: count, dtype: int64
Number of Students by Test Preparation Course:
Prep_Course
none         642
completed    358
Name: count, dtype: int64

In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
data = pd.read_csv('student_performance.csv')

In [25]:
# Display the first few rows
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,female,group B,associate's degree,standard,none,71,83,78
4,female,group B,some college,standard,completed,88,95,92

In [26]:
#demographic features (gender, race/ethnicity, parental education, lunch type, test prep course)
#three performance variables: math score, reading score, and writing score

In [42]:
def show_average(column):
    print(f"\nAverage math score for each group in {column}:")
    avg = data.groupby(column)["math score"].mean()
    print(avg)
    print("-" * 40)
    return avg

In [43]:
show_average("gender")

Average math score for each group in gender:
gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
----------------------------------------

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64

In [44]:
def best_group(column):
    avg = data.groupby(column)["math score"].mean()
    top = avg.idxmax()
    score = avg.max()
    print(f"The best group in {column} is '{top}' with an average score of {score:.2f}")
    print("-" * 40)
    return top, score

In [45]:
best_group("race/ethnicity")

The best group in race/ethnicity is 'group E' with an average score of 73.82
----------------------------------------

('group E', 73.82142857142857)

In [46]:
def summary():
    print("\n--- SUMMARY ---")
    print("Students who did the test prep course got better scores.")
    print("Having parents with higher education helps in math.")
    print("Standard lunch students got higher scores than free/reduced lunch students.")
    print("Gender and race differences exist but are not very big.")
    print("-" * 40)

In [47]:
best_group("lunch")

The best group in lunch is 'standard' with an average score of 70.03
----------------------------------------

('standard', 70.03410852713178)

In [48]:
summary()

--- SUMMARY ---
Students who did the test prep course got better scores.
Having parents with higher education helps in math.
Standard lunch students got higher scores than free/reduced lunch students.
Gender and race differences exist but are not very big.
----------------------------------------

In [49]:
def show_examples_loc_iloc():
    print("\nExamples of loc and iloc usage:")

    # Using .loc to get all rows where gender is female
    girls = data.loc[data["gender"] == "female"]
    print(f"There are {len(girls)} female students.")

    # Using .iloc to get the first 3 rows and first 3 columns
    print("\nFirst 3 rows and first 3 columns using iloc:")
    print(data.iloc[:3, :3])

    # Using loc to see one specific student info
    print("\nDetails of the first student using loc:")
    print(data.loc[0])  # 0 = first row
    print("-" * 40)

In [50]:
show_examples_loc_iloc()

Examples of loc and iloc usage:
There are 518 female students.

First 3 rows and first 3 columns using iloc:
   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree

Details of the first student using loc:
gender                                    female
race/ethnicity                           group B
parental level of education    bachelor's degree
lunch                                   standard
test preparation course                     none
math score                                    72
reading score                                 72
writing score                                 74
Name: 0, dtype: object
----------------------------------------